p {
  font-family:arial;

}
h1 {
  font-family:arial;

}
h2 {
  font-family:arial;

}

.head{
    background: #A9A9A9;
    border: #A9A9A9  solid;

}

.corpo{
    margin: 0px;
}

.main{
    background: #F8F8FF;
    margin: 0;
    padding-top: 16px;
}

.parag{
    background: #F8F8FF;
    margin: 0 auto;
}

.restrict{
    background: #A9A9A9;
}

.foot{
    background: #F8F8FF;
}

#version{
    font-size: small;
    text-align: center;
    font-style: italic;
}
