/* Geral*/

p {
  font-family: "Arial Narrow","Myriad Pro";

}
h1 {
  font-family: "Arial Narrow","Myriad Pro";

}
h2 {
  font-family: "Arial Narrow","Myriad Pro";

}
h3 {
  font-family: "Arial Narrow","Myriad Pro";

}
/******************************************/

/* classes e Ids do Header*/
.head{
    background: #3eb9a8;
    padding: 0 0 0 0;

}
/******************************************/

/* classes e Ids do Menu*/
.menu{
    background: #3b7687;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow","Myriad Pro";
}
/******************************************/

/* Classes e IDs da estrutura da Home*/
.corpo{
    width: 780px;
    margin: 0 auto;
    font-family: "Arial Narrow","Myriad Pro";
}

.main{
    background: #eff3eb;
    margin: 0;
    padding-top: 16px;
}

.parag{
    background: #eff3eb;
    margin: 0 auto;
}
/******************************************/

/* classes e Ids do Login*/
.login{
    background: #eff3eb;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Arial Narrow","Myriad Pro";
}
/******************************************/

/* classes e Ids do About*/
.about{
    background: #eff3eb;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Arial Narrow","Myriad Pro";
}
/******************************************/

/* classes e Ids do Contact*/
#contact-page{
    /*box-shadow: 5px 8px 10px 15px;*/
}

#contact{
    background: #eff3eb;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Arial Narrow","Myriad Pro";
    margin: 0 auto;
}

#contact #form-contact{
    width: 500px;
    padding: 10px 20px 10px 10px;
    margin: 0 auto;
    margin-top: 10px;
    border: #D6D6D6 2px solid;
    border-radius: 5px;
    box-shadow: 10px 13px 13px 15px;

}

#contact #form-contact input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #D6D6D6;
    border: #D6D6D6 2px solid;

}

#contact #form-contact #message{
    border-radius: 5px;
    background: #D6D6D6;
    border: #D6D6D6 2px solid;
    width: 497px;
    height: 70px;

}

#contact #form-contact #submit{
    border-radius: 5px;
    border: #5e9ba5 2px solid;
    width: 497px;
    height: 30px;
    background: #5e9ba5;

}

#contact #form-contact #submit:hover {
    color: aquamarine;

}
/******************************************/

/* classes e Ids do Footer*/
.foot{
    background: #3b7687;
    margin: 0 auto;
    align-content: center;
    padding: 6px 0 6px 0;
    font-style: italic;
    font-family: "Arial Narrow","Myriad Pro";
}

#footer-text{
    font-size: small;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    color: #c5d6db;
    font-family: "Arial Narrow","Myriad Pro";
}
/******************************************/

/* classes e Ids das paginas de Content*/
.content{
    background: #eff3eb;
    width: 780px;
    margin: 0 auto;
  /*  padding: 0 250px 0 250px; */
    font-family: "Arial Narrow","Myriad Pro";
    text-decoration: none;
}

.content img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    align-content: center;
    display: block;
}

.content p{
    margin: 0 auto;
    align-content: center;
    color: #284a54;
    padding: 7px 0 8px 0;
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial Narrow","Myriad Pro";
}

.content a{
    margin: 0 auto;
    align-content: center;
    color: #284a54;
    padding: 7px 0 8px 0;
    text-decoration:underline;
    font-size: 16px;
    font-family: "Arial Narrow","Myriad Pro";
}
/******************************************/
