p {
  font-family: "Arial Narrow","Myriad Pro";

}
h1 {
  font-family: "Arial Narrow","Myriad Pro";

}
h2 {
  font-family: "Arial Narrow","Myriad Pro";

}

.head{
    background: #3eb9a8;
    padding: 0 0 0 0;

}

.menu{
    background: #3b7687;
    padding: 6px 0 6px 40px;
}

.menu a {
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow","Myriad Pro";
}

.corpo{
    width: 780px;
    margin: 0 auto;
  /*  padding: 0 250px 0 250px; */
    font-family: "Arial Narrow","Myriad Pro";
}

.main{
    background: #F8F8FF;
    margin: 0;
    padding-top: 16px;
}

.parag{
    background: #F8F8FF;
    margin: 0 auto;
}

.restrict{
    background: #3eb9a8;
    font-family: "Arial Narrow","Myriad Pro";
}

.foot{
    background: #3b7687;
    margin: 0 auto;
    align-content: center;
    padding: 6px 0 6px 0;
    font-style: italic;
    font-family: "Arial Narrow","Myriad Pro";
}

#footer-text{
    font-size: small;
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    list-style-type: none;
    padding-left: 0;
    color: #c5d6db;
    font-family: "Arial Narrow","Myriad Pro";
}

/* classes e Ids das paginas de conteudo*/

.content{
    width: 780px;
    margin: 0 auto;
  /*  padding: 0 250px 0 250px; */
    font-family: "Arial Narrow","Myriad Pro";
    text-decoration: none;
}

.content img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    align-content: center;
    display: block;
}

.content p{
    margin: 0 auto;
    align-content: center;
    color: #284a54;
    padding: 7px 0 8px 0;
    text-decoration: none;
    font-size: 16px;
    font-family: "Arial Narrow","Myriad Pro";
}

.content a{
    margin: 0 auto;
    align-content: center;
    color: #284a54;
    padding: 7px 0 8px 0;
    text-decoration:underline;
    font-size: 16px;
    font-family: "Arial Narrow","Myriad Pro";
}
